/*Redimensionamento para telas maiores que 680px*/
@media screen and (min-width: 680px) {
    .footer {
        justify-content: flex-end;
    }

    .hero {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-xl);
    }

    .hero__intro {
        text-align: start;
        align-items: start;
    }

    .hero__title,
    .hero__description {
        max-width: 85%;
    }

    .hero__image img {
        width: clamp(250px, 100%, 700px);
    }

    .hero__btn {
        width: clamp(150px, 100%, 180px);
        height: 50px;
        align-self: flex-start;
    }
}

/*Rediomensionamento para telas maiores que 1024px*/
@media screen and (min-width: 1024px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-position: left;
        padding: 2.5rem 4rem;
    }

    .main {
        margin: 4rem 0 2rem 0;
    }

    .hero__title,
    .hero__description {
        max-width: 75%;
    }
}